/*
  =============================================
   Сброс
  =============================================
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/*
  =============================================
   Сетка
  =============================================
*/
.container {
  max-width: 1195px;
  margin: 0 auto;
}

/*
  =============================================
   Header
  =============================================
*/

header {
  background: #6e78b7;
  padding: 55px 0;
}

header .menu {
  display: flex;
  justify-content: space-around;
}

header .menu a {
  width: 260px;
  background: #d86a43;
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  color: #fefcfc;
  box-shadow: 0 0 10px -1px #000;
}

header .menu a:hover {
  box-shadow: none;
  background-color: #e44d26;
}

/*
  =============================================
   Main
  =============================================
*/

main {
  background: #deeafb;
  padding: 55px 0;
}

/*
  =============================================
   Секция 1
  =============================================
*/
.technology {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.technology img {
  width: 360px;
  height: 200px;
}

.technology .arrow {
  width: 41px;
  height: 22px;
}

/*
  =============================================
   Секция 2
  =============================================
*/
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery img {
  width: 360px;
  height: 230px;
  margin-bottom: 35px;
}

/*
  =============================================
   Секция 3
  =============================================
*/
.news article {
  background-color: white;
}

.news article {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 15px 7px;
  margin-bottom: 40px;
}

.news article img {
  width: 340px;
  height: 225px;
  margin-right: 55px;
}

.news article .description {
  color: #511a99;
  font-size: 16px;
  width: 760px;
}

.news article:nth-child(even) img{
  order: 1;
  margin-right: 0;
  margin-left: 55px;
}

/*
  =============================================
   Секция 4
  =============================================
*/
.cards {
  display: flex;
  justify-content: space-around;
}

.cards .card {
  width: 400px;
  height: 425px;
  background: #6e78b7;
  color: #fefcfc;
  font-size: 18.5px;
  box-shadow: 0 0 10px -1px #000;
}

.cards .card h3 {
  background: #d86a43;
  margin: 0;
  padding: 25px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.cards .card .description {
  padding: 35px 40px 0 40px;
}

.cards .card .description p {
  margin: 0;
}

.cards .card button {
  width: 260px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #d86a43;
  border: 0;
  margin-left: auto;
  display: block;
  margin-right: auto;
  border-radius: 8px;
  padding: 14px 0;
  box-shadow: 0 0 10px -1px #000;
}